nav {
    background-color: #ffff;
    .mat-toolbar {
        background-color: var(--primary-blue) !important;
        color: #ffff;
    }

    /* Styles for tab labels */
    .mat-tab-label {
        color: var(--secondary-ligth-dark);
        /* Cambia il colore qui */
    }

    /* Styles for the active tab label */
    .mat-tab-label.mat-tab-label-active {
        color: var(--primary-blue);
    }
}