<nav>
    <mat-toolbar>
        <span class="text-capitalize ">gestione competenze</span>
    </mat-toolbar>
    <div class="text-capitalize container-fluid ps-5 py-4 bg-navbar-btn">
        <button type="button" class="text-uppercase text-secondary fs-6 me-3 btn btn-outline-primary "
            (click)="goCompetetnze()">competenze</button>
        <button type="button" class="text-uppercase text-secondary fs-6 btn btn-outline-primary"
            (click)="goDipendenti()">dipendenti</button>
    </div>
</nav>