nav {
    background-color: #ffff;
    //box-shadow: grey; DA MODIFICARE LO SHADOW

    .mat-toolbar {
        background-color: var(--primary-blue) !important;
    }

    /* Styles for tab labels */
    .mat-tab-label {
        color: var(--secondary-ligth-dark);
        /* Cambia il colore qui */
    }

    /* Styles for the active tab label */
    .mat-tab-label.mat-tab-label-active {
        color: var(--primary-blue);
        text-decoration-line: var(--primary-blue);
        /* Cambia il colore qui */
    }

    .mat-ink-bar {
        background-color: #1f29a2 !important;
    }
}