<div class="container d-flex justify-content-center align-items-center h-50">
  <table mat-table [dataSource]="skills" class="mat-elevation-z8">

    <!-- Competenza Column -->
    <ng-container matColumnDef="competenza">
      <th mat-header-cell *matHeaderCellDef> Competenza </th>
      <td mat-cell *matCellDef="let skill"> {{ skill.competenza }} </td>
    </ng-container>

    <!-- Ambito Column -->
    <ng-container matColumnDef="ambito">
      <th mat-header-cell *matHeaderCellDef> Ambito </th>
      <td mat-cell *matCellDef="let skill"> {{ skill.ambito }} </td>
    </ng-container>

    <!-- Numero di Risorse Column -->
    <ng-container matColumnDef="numeroDiRisorse">
      <th mat-header-cell *matHeaderCellDef> Numero di Risorse </th>
      <td mat-cell *matCellDef="let skill"> {{ skill.numeroDiRisorse }} </td>
    </ng-container>

    <!-- Livello Medio Column -->
    <ng-container matColumnDef="livelloMedio">
      <th mat-header-cell *matHeaderCellDef> Livello Medio </th>
      <td mat-cell *matCellDef="let skill"> {{ skill.livelloMedio }} </td>
    </ng-container>

    <!-- Progetti Column -->
    <ng-container matColumnDef="progetti">
      <th mat-header-cell *matHeaderCellDef> Progetti </th>
      <td mat-cell *matCellDef="let skill"> {{ skill.progetti }} </td>
    </ng-container>

    <!-- Risorse Disponibili Column -->
    <ng-container matColumnDef="risorseDisponibili">
      <th mat-header-cell *matHeaderCellDef> Risorse Disponibili </th>
      <td mat-cell *matCellDef="let skill"> {{ skill.risorseDisponibili }} </td>

    </ng-container>

    <!--Azioni Column -->
    <ng-container matColumnDef="azioni">
      <th mat-header-cell *matHeaderCellDef> Azioni </th>
      <td mat-cell *matCellDef="let skill">

        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openDialog()">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>