<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="competenze">
      <th mat-header-cell *matHeaderCellDef> Competenza </th>
      <td mat-cell *matCellDef="let element"> {{element.competenze}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="ambito">
      <th mat-header-cell *matHeaderCellDef> Ambito </th>
      <td mat-cell *matCellDef="let element"> {{element.ambito}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="numeroDiRisorse">
      <th mat-header-cell *matHeaderCellDef> Numero Di Risorse</th>
      <td mat-cell *matCellDef="let element"> {{element.numeroDiRisorse}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="livelloMedio">
      <th mat-header-cell *matHeaderCellDef> Livello Medio </th>
      <td mat-cell *matCellDef="let element"> {{element.livelloMedio}} </td>
    </ng-container>
  
    <ng-container matColumnDef="progetti">
        <th mat-header-cell *matHeaderCellDef>Progetti </th>
        <td mat-cell *matCellDef="let element"> {{element.progetti}} </td>
      </ng-container>

      <ng-container matColumnDef="risorseDisponibili">
        <th mat-header-cell *matHeaderCellDef>Risorse Disponibili </th>
        <td mat-cell *matCellDef="let element"> {{element.risorseDisponibili}} </td>
      </ng-container>
  </table>
  
